.categories
  .container
    .categories-carouselClass.owl-carousel
      a.col-12.col-sm-6.col-md-3.categories-block(href="/product-list.html")
        .row
          .categories-block-content
            img(src="/images/erkek.jpg")
            p ERKEK

      a.col-12.col-sm-6.col-md-3.categories-block(href="/product-list.html")
        .row
          .categories-block-content
            img(src="/images/kadin.jpg")
            p KADIN

      a.col-12.col-sm-6.col-md-3.categories-block(href="/product-list.html")
        .row
          .categories-block-content
            img(src="/images/ceket.jpg")
            p CEKET

      a.col-12.col-sm-6.col-md-3.categories-block(href="/product-list.html")
        .row
          .categories-block-content
            img(src="/images/denim.jpg")
            p DENİM
