$ford:'FordAntenna';

@font-face {
  font-family: 'FordAntenna';
  src: url('../fonts/FordAntenna-Bold.eot');
  src: url('../fonts/FordAntenna-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FordAntenna-Bold.woff') format('woff'),
  url('../fonts/FordAntenna-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FordAntenna';
  src: url('../fonts/FordAntenna-Medium.eot');
  src: url('../fonts/FordAntenna-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FordAntenna-Medium.woff') format('woff'),
  url('../fonts/FordAntenna-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'FordAntenna';
  src: url('../fonts/FordAntenna-Regular.eot');
  src: url('../fonts/FordAntenna-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FordAntenna-Regular.woff') format('woff'),
  url('../fonts/FordAntenna-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FordAntenna';
  src: url('../fonts/FordAntenna-Light.eot');
  src: url('../fonts/FordAntenna-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FordAntenna-Light.woff') format('woff'),
  url('../fonts/FordAntenna-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

