//Its important to use bootstrap icons
$icon-font-path: '../fonts/';
@import "icons";
@import "hacks";
@import "fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bourbon";
//custom mixins
@import "mixins";



//Importing All Modules
@import "../modules/**/*";


*{
  outline:none !important;
}
.bootstrap-select .dropdown-toggle:focus{
  outline:none !important;
}
[tpl]{
  display: none !important;
}

.no-padding{
  padding: 0;
}

body{
  background: url("/images/bg.jpg");
  font-family: $ford;
}

.formError{
  top: 30px !important;
  margin-left: -70px;
  .formErrorContent{
    background: #e74a17;
    box-shadow: none;
    border: none;
    border-radius: 0px;
  }
  .formErrorArrow{
    display: none;
  }
}
