//Its important to use bootstrap icons
$icon-font-path: '../fonts/';
@import "variables";
@import "icons";
@import "hacks";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bourbon";
//custom mixins
@import "mixins";

//Importing All Modules
@import "../modules/**/*";

[tpl]{
  display: none !important;
}

body {
  font: {
    size: 16px;
    family: $font-sans, sans-serif;
  }

  &.subpage {
    padding: 70px 0 0;
  }
}

.lock {
  overflow: hidden;
}