/*------------------------------------*\
    #border-alpha
\*------------------------------------*/

/*<-- GLOBAL -->*/
.border-alpha{
  margin: 30px -80px;
  height: 1px;
  background: #e9e6e5;
}
// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .border-alpha{

  }
}
/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .border-alpha{

  }
}
/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .border-alpha{

  }
}
/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .border-alpha{

  }
}
