mixin subPages(id, size)
    - var html = raw(block)


- var subPages = function(id){
-       if(id == "{pageId}"){
-           if( dev ){
-               return staticData.page.id
-           }else{
-               return "@CurrentPage.PageID"
-           }
-       }
-       if(id == "{parentPageId}"){
-           if( dev ){
-               return staticData.page.id
-           }else{
-               return "@ParentPage.PageID"
-           }
-       }
-       return id
- }
