.header
  .header-inner
    .col-xs-4.header-left
      .row
        a.menu(href="javascript:;")
          .menu-icon
            span
            span
            span
          span.text MENU
    .col-xs-4.header-middle
      .row
        a.logo(href="/index.html") GUST DENIM
    .col-xs-4.header-right.text-right
      a.header-right-user(href="javascript:;") U
      a.header-right-bag(href="javascript:;") S

  // --- MENU
  .header-menu
    .header-menu-categories
      span MENU
      ul
        li
          a(href="javascript:;") ERKEK
          .subPage
            a.subPage-back(href="javascript:;") GERI
            ul
              li
                a(href="javascript:;") Tisort
              li
                a(href="javascript:;") Gomlek
              li
                a(href="javascript:;") Kapusonlu & Sweetshirt
              li
                a(href="javascript:;") Pantolon
              li
                a(href="javascript:;") Jean
              li
                a(href="javascript:;") Ceket
              li
                a(href="javascript:;") Kaban
              li
                a(href="javascript:;") Hirka & Kazak
              li
                a(href="javascript:;") Blazer & Takim Elbise
        li
          a(href="javascript:;") KADIN
        li
          a(href="javascript:;") CEKET
        li
          a(href="javascript:;") DENIM
    .header-menu-pages
      span GUST DENIM
      ul
        li
          a(href="javascript:;") HAKKIMIZDA
        li
          a(href="javascript:;") GIZLILIK POLITIKASI
        li
          a(href="javascript:;") YASAL UYARI
        li
          a(href="javascript:;") ILETISIM