.filter-left
  .filter-left-item
    h3 YENİ
    ul
      li
        a(href="javascript:;")
          span Ceket
      li
        a(href="javascript:;")
          span Pantolon

  .filter-left-item
    h3 KATEGORİLER
    ul
      li
        a(href="javascript:;")
          span Tişört
      li
        a(href="javascript:;")
          span Gömlek
      li
        a(href="javascript:;")
          span Sweatshirt
      li
        a(href="javascript:;")
          span Pantolon
      li
        a(href="javascript:;")
          span Jean
      li
        a(href="javascript:;")
          span Ceket
      li
        a(href="javascript:;")
          span Kaban
      li
        a(href="javascript:;")
          span Hırka & Kazak
      li
        a(href="javascript:;")
          span Blazer & Takım Elbise

  .filter-left-item
    h3 SPECIAL
    ul
      li
        a(href="javascript:;")
          span Limited Edition
      li
        a(href="javascript:;")
          span Special Cut