/*------------------------------------*\
    #filter-left
\*------------------------------------*/

/*<-- GLOBAL -->*/
.filter-left{

}
// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .filter-left{

  }
}
/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .filter-left{

  }
}
/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .filter-left {

    &-item {
      margin: 0 0 25px;

      h3 {
        color: #000;
        font: {
          family: $font-serif;
          size: 24px;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            position: relative;
            font-size: 16px;
            line-height: 30px;
            color: #000;
            display: block;

            &:hover,
            &:focus {
              text-decoration: none;
            }

            &:before {
              position: absolute;
              top: 50%;
              content: '';
              width: 0;
              height: 2px;
              background-color: #000;
              transition: all .4s cubic-bezier(0.875, 0.005, 0.470, 1.000);
              transform: translateY(-50%);
            }

            span {
              position: relative;
              z-index: 1;
              background-color: #fff;
              padding: 0 10px 0 0;
            }
          }

          &:hover,
          &.active {
            a {
              &:before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .filter-left{

  }
}
