/*------------------------------------*\
    #button-alpha
\*------------------------------------*/

/*<-- GLOBAL -->*/
.button-alpha{
  background: #e74a17;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0px;
  text-align: center;
  margin-top: 25px;
}
// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .button-alpha{

  }
}
/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .button-alpha{

  }
}
/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .button-alpha{

  }
}
/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .button-alpha{

  }
}
