/*------------------------------------*\
    #filter-top
\*------------------------------------*/

/*<-- GLOBAL -->*/
.filter-top{

}
// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .filter-top{

  }
}
/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .filter-top{

  }
}
/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .filter-top{
    text-align: right;
    margin: 0 15px 60px 0;

    a {
      font: {
        size: 16px;
        weight: 700;
      }
      color: #000;
      margin: 0 0 0 15px;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .filter-top{

  }
}
