doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap-select/dist/css/bootstrap-select.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css')
    link(rel='stylesheet', href='/bower_components/owl.carousel/dist/assets/owl.carousel.css')
    link(rel='stylesheet', href='/bower_components/validationengine/css/validationEngine.jquery.css')
    link(rel='stylesheet', href='/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    | <!--[if lt IE 8]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    block content


    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/is_js/is.js')
    script(src='/bower_components/js-cookie/src/js.cookie.js')
    script(src='/bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/highcharts/highcharts.js')
    script(src='/bower_components/highcharts/highcharts-more.js')
    script(src='/bower_components/highcharts/modules/exporting.js')
    script(src='/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='/bower_components/owl.carousel/dist/owl.carousel.js')
    script(src='/bower_components/underscore/underscore.js')
    script(src='/bower_components/validationengine/js/jquery.validationEngine.js')
    script(src='/bower_components/jquery-mask-plugin/dist/jquery.mask.js')
    script(src='/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js')
    script(src='/bower_components/iCheck/icheck.min.js')
    script(src='/bower_components/respond/dest/respond.src.js')
    // endbower



    //- inject:js
    script(src="scripts/app.js")
    script(src="scripts/modal-alpha.js")
    script(src="scripts/form.js")
    script(src="scripts/welcome.js")
    script(src="scripts/jquery.validationEngine-en.js")
    script(src="scripts/jquery.validationEngine-tr.js")
    //- endinject
    // endbuild


