.showcase-alpha
  h1.title Kalıpları değiştiriyoruz!
  p.text 2 ton artırılmış kapasitesiyle Ford Trucks Mikser Serisi karşınızda…
  img(src="/images/promo.jpg").scale
  .footer
    .row
      .col-xs-6
        img(src="/images/koc.png").koc
      .col-xs-6
        .image-container
          img(src="/images/ford-trucks.png").ford-trucks
