.footer
  .container
    .row.footer-newsletter
      .col-sm-8.col-sm-offset-2.text-center.col-md-6.col-md-offset-3
        h3 NEWSLETTER
        form(action="", method="POST")
          input(type="text", placeholder="E-mail address", data-placeholder="E-mail address")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at tempor dui, sit amet malesuada magna.
    .row.footer-content
      .col-sm-6.col-md-3.footer-content-item
        h4 KURUMSAL
        ul
          li
            a(href="javascript:;") Hakkımızda
          li
            a(href="javascript:;") Gizlilik Politikası
          li
            a(href="javascript:;") Ortaklık Programı
          li
            a(href="javascript:;") Yasal Uyarı
          li
            a(href="javascript:;") İletişim

      .col-sm-6.col-md-3.footer-content-item
        h4 ALIŞVERİŞ
        ul
          li
            a(href="javascript:;") Ödeme & Teslimat
          li
            a(href="javascript:;") İade Koşulları
          li
            a(href="javascript:;") Hediye Çeki
          li
            a(href="javascript:;") Mesafeli Satış Sözleşmesi
          li
            a(href="javascript:;") Kampanyalar

      .col-sm-6.col-md-3.footer-content-item
        h4 ÜYELİK
        ul
          li
            a(href="javascript:;") Hesabım
          li
            a(href="javascript:;") Siparişlerim

      .col-sm-6.col-md-3.footer-content-item
        h4 KURUMSAL
        ul
          li
            a(href="javascript:;") Hakkımızda
          li
            a(href="javascript:;") Gizlilik Politikası
          li
            a(href="javascript:;") Ortaklık Programı
          li
            a(href="javascript:;") Yasal Uyarıli
          li
            a(href="javascript:;") İletişim

    .row.footer-bottom
      .footer-bottom-social.col-sm-6
        ul
          li
            a(href="javascript:;")
              i.icon.icon-facebook
          li
            a(href="javascript:;")
              i.icon.icon-twitter
          li
            a(href="javascript:;")
              i.icon.icon-instagram
      .footer-bottom-poom.col-sm-6.text-right
        a(href="javascript:;") POOM