extends layouts/layouts/default

block content
  .container-fluid
    .row
      .col-md-6.no-padding
        include modules/showcase-alpha/showcase-alpha
      .col-md-6
        .right-side-container
          h1.title-alpha Beton 2017 Fuarı’na Hoş Geldiniz…
          p.description-alpha Aşağıdaki bilgileri eksiksiz olarak doldurmanız, sizinle irtibat kurmamız ve kampanya dönemlerindeki fırsatlardan yararlanmanız için önem arz etmektedir.
          .border-alpha
          .form-alpha
            form
              .row
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span  Adınız
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span  Soyadınız
              .row
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span  * Cep Telefonu
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required,custom[email]]")
                    span  E-Posta
              .row
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Yaşadığınız Şehir/Semt
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Doğum Tarihiniz
              .row
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Aracınızın Markası
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Aracınızın Modeli
              .row
                .col-sm-6
                  .select-alpha
                    select(class="validate[required]")
                      option(value="") Aracinizin Model Yili
                      option(value="2013") 2013
                .col-sm-6
                  .select-alpha.corporate-select
                    select(class="validate[required]")
                      option(value="") Müşteri Profili
                      option(value="k") Kurumsal Müşteri
                      option(value="b") Bireysel Müşteri
              .row.corporate-alpha
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Firmanızın Adı
                .col-sm-6
                  .input-alpha
                    input(type="text" class="validate[required]")
                    span Firmadaki Göreviniz
              .border-alpha
              .clearfix
              include modules/checkbox-alpha/checkbox-alpha
              input(type="submit" value="Gönder").button-alpha
