extends layouts/layouts/default

block content
  .container
    include modules/welcome/welcome
    div(c-helper="mrT:30")
      include modules/form/form
    include modules/modal-alpha/modal-alpha


