extends layouts/layouts/default

block content
  .header.header-black
    .col-xs-4.header-left
      .row
        a.menu(href="javascript:;")
          .menu-icon
            span
            span
            span
          span MENU
    .col-xs-4.header-middle
      .row
        a.logo(href="/index.html") GUST DENIM
    .col-xs-4.header-right
      .row

  .container-fluid(c-helper="mrT:60")
    .row
      .col-sm-3
        include modules/filter-left/filter-left
      .col-sm-9
        include modules/filter-top/filter-top
        // ----- Product List
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
        .col-sm-4
          include modules/card-alpha/card-alpha
  include modules/footer/footer