- var render = function(data, keys, type) {
- for(var z = 0; i< keys.length)
- for(var i = 0; i < cms[methodName].length; i++) {
-   data = data.replace(new RegExp(cms[methodName][i]['key'], 'g'), cms[methodName][i][type])
- }
-
- return data;
-
-
- }
