extends views/_layout

block vars
    - var pageTitle = 'Home'
    - var bodyClass = 'home'

block content
    +page()
        h1 {pageTitle}
        p {pageCreateDate}
        ul
            +subPages("{parentPageId}")
                +if("{subPageId} == {pageId}")
                    li
                        a(href="{url}") {title}
                            ul
                                +subPages("{subPageId}")
                                    +if("{subPageId} == {pageId}")
                                        li
                                            a(href="{url}") {title}
                                                ul
                                                    +subPages("{subPageId}")
                                                        +if("{subPageId} == {pageId}")
                                                            li
                                                                a(href="{url}") {title}
                                                                    ul
                                                                        +subPages("{subPageId}")
                                                                            +if("{subPageId} == {pageId}")
                                                                                li
                                                                                    a(href="{url}") {title}
        +subPages()











