/*------------------------------------*\
    #lightbox-pointer
\*------------------------------------*/

/*<-- GLOBAL -->*/
.lightbox-pointer {

}

.lightbox-container {
  cursor: pointer;
  position: fixed;
  top: 0px;
  height: 100%;
  background: rgba(0, 56, 101, 0.95);
  z-index: 2;
  display: table;
  .lightbox-container-inner {
    display: table-cell;
    vertical-align: middle;
    .lightbox-container-inner-box{
      border-radius: 7px;
      background: #e74a17;
      width: 300px;
      display: table;
      margin: 0 auto;
      padding: 25px 0px;
      text-align: center;
      .icon-container{
        width: 70px;
        height: 70px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #f3a58b;
        line-height: 70px;
        text-align: center;
        font-size: 24px;
        color: #FFF;
      }
      .text-container{
        font-size: 20px;
        font-weight: 500;
        color: #FFF;
        margin-top: 20px;
      }
    }

  }
}

// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .lightbox-pointer {

  }
}

/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .lightbox-pointer {

  }
}

/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .lightbox-pointer {

  }
}

/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .lightbox-pointer {

  }
}
