.pagination
	.container
		.row
			.js-pagination-page
				#articles(data-perpage="4")
					ul
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")
						li.col-sm-3.article
							img.img-responsive(src="/images/test.jpg")