@font-face {
    font-family: "Novecentowide-Bold";
    src: url("novecento-bold.eot");
    src: url("novecento-bold.eot?#iefix") format("embedded-opentype"),
         url("novecento-bold.woff2") format("woff2"),
         url("novecento-bold.woff") format("woff"),
         url("novecento-bold.ttf") format("truetype"),
         url("novecento-bold.svg#Novecentowide-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}