@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Regular.eot");
    src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("OpenSans-Regular.woff2") format("woff2"),
         url("OpenSans-Regular.woff") format("woff"),
         url("OpenSans-Regular.ttf") format("truetype"),
         url("OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight: 300;
    font-style: normal;
}