.checkbox-beta
  input(type="checkbox" class="validate[required]" id="for1")
  label(for="for1")
    | 6698 sayılı Kişisel Veri Koruma Kanunu uyarınca şirketin ilgili aydınlatma metnine
    a(href="#") buradan
    | ulaşabilirsiniz.
