mixin page(variable)
    - var html = raw(block)
    - var _html

    if dev
        - _html = render(html, 'page', 'html')
    else
        - _html = render(html, 'page', 'cms')
    ="\n"
    | !{_html}

- var page = function(id){
-       if(id == "current"){
-           if( dev ){
-               return staticData.page.id
-           }else{
-               return "@CurrentPage.PageID"
-           }
-       }
-       if(id == "parent"){
-           if( dev ){
-               return staticData.page.id
-           }else{
-               return "@ParentPage.PageID"
-           }
-       }
- }
