.card-alpha
  .card-alpha-image
    img(src="/images/erkek.jpg")
    a.card-alpha-image-addBag(href="javascript:;") SEPETE EKLE
  a.card-alpha-title(href="javascript:;")
    h4 V-STRIPES RÜZGARLIK
    p 475,00 TL