/*------------------------------------*\
    #card-alpha
\*------------------------------------*/

/*<-- GLOBAL -->*/
.card-alpha {
  &-image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }

    &-addBag {
      background-color: #000;
      color: #fff;
      letter-spacing: 2px;
      padding: 17px;
      font-size: 14px;
      text-align: center;
      display: block;
      position: absolute;
      bottom: -54px;
      left: 0;
      width: 100%;
      transition: all .4s cubic-bezier(0.875, 0.005, 0.470, 1.000);

      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &:hover,
  &:focus {
    .card-alpha-image {
      &-addBag {
        bottom: 0;
      }
    }
  }

  &-title {
    margin: 15px;
    color: #000;

    h4 {
      font: {
        size: 18px;
        weight: 700;
      }
    }

    p {
      font-size: 18px;
    }

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
    }
  }
}
// Usage
/*<-- XS -->*/
@media (max-width: $screen-xs-max) {
  .card-alpha{

  }
}
/*<-- SM -->*/
@media (min-width: $screen-sm-min) {
  .card-alpha{

  }
}
/*<-- MD -->*/
@media (min-width: $screen-md-min) {
  .card-alpha{

  }
}
/*<-- LG -->*/
@media (min-width: $screen-lg-min) {
  .card-alpha{

  }
}
