.product-list-alpha
  .col-sm-3.product-list-alpha-item
    ul
      li.active
        a(href="javascript:;", data-type="sales") En Cok Satanlar
      li
        a(href="javascript:;", data-type="new") Yeni Urunler
      li
        a(href="javascript:;", data-type="order") Indirimli Urunler
      li
        a(href="javascript:;", data-type="man") Erkek
      li
        a(href="javascript:;", data-type="woman") Kadin

  .col-sm-9.product-list-alpha-content
    .product-list-alpha-content-inner.owl-carousel.sales.active
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
    .product-list-alpha-content-inner.owl-carousel.new
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
    .product-list-alpha-content-inner.owl-carousel.order
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
    .product-list-alpha-content-inner.owl-carousel.man
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
    .product-list-alpha-content-inner.owl-carousel.woman
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha
      include ../card-alpha/card-alpha