.form
  form(action="#" method='get').bottom-side
    .row(c-helper="mrT:20")
      .col-xs-12
        input(placeholder="Adınız", data-rule-required="true", data-msg-required="Adınızı yazınız").input-alpha
    .row(c-helper="mrT:20")
      .col-xs-12
        input(placeholder="Soyadınız", data-rule-required="true", data-msg-required="Soyadınız yazınız").input-alpha

    h3.title-beta.mrTop30 Tercih ettiginiz iletisim kanali
    .row(c-helper="mrT:20")
      .col-xs-12
        input(type='checkbox', id="iletisimkanali1")
    .sozlesme-control
      .row(c-helper="mrT:20")
        .col-xs-12
          .select-alpha
            select(data-rule-required="true")
              option(value="")  Sozlesmeyi Aldigim Sirket
              option(value="1")  Test
              option(value="2")  Test
              option(value="3")  Test
    .row
      .col-xs-12
        .grecaptcha

    .row(c-helper="mrT:20")
      .col-xs-6
        input(type="submit",value="Gonder").button-alpha
